
.animal-button {
    margin-top: 1em;
    background-color: dodgerblue;
    color: white;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    border-radius: 5%;
}

.details, .edit-button {
    display: flex;
}

.animal-name, .animal-breed {
    display: flex;
    flex-direction: column
}

.animals {
    display: flex;
    justify-content: space-evenly;
}

.animalButton {
    display: flex;
    justify-content: space-evenly;
    margin: 0 0 10px 0;
}

.icon--dog {
    width: 50px;
    height: 50px;
    margin-bottom: 1em;
    display: flex;
    margin: 1.3em;
}

.card {
    width: 10rem;
}

.card-title {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
}

.card-link {
    margin: 12px 0 0 0;
    font-size: 0.7em;
}

