
.location-button {
    margin-top: 1em;
    background-color: dodgerblue;
    color: white;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    border-radius: 5%;
    margin-left: 47%;
    margin-right: 35%;
}

.locations {
    display: flex;
    justify-content: space-evenly;
}

.detail {
    margin-left: -2.8em;
}

.card {
    width: 10rem;
}

.card-title {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
}

.card-link {
    margin: 12px 0 0 0;
    font-size: 0.7em;
}